.saved-procedure-container{
    width: 100%;
    min-height: 400px;
}
.saved-procedure-title{
    margin: 30px 0;
    text-align: center;
}
.procedure-list-container{
    margin: auto;
    width: 50%;
}
.procedure-list-container a {
    text-decoration: none;
    color: #365486;
    font-weight: 600;
    font-size: 18px;
}
.saved-procedure{
    background: #fff;
    padding: 15px 20px 10px 20px;
    border-left: 6px solid #7FC7D9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}

.saved-procedure:hover {
    background: whitesmoke;
}
.saved-procedure:hover a{
    color: #0F1035;
}


