.send-help-container {
    width: 50%;
    margin: auto;
}

.send-help-container h3 {
    text-align: center;
    margin: 20px 0;
}

#map {
    width: 100%;
    height: 300px;
}
.send-help-container label {
    font-weight: bold;
}
.send-help-btn {
    margin: 30px 0;
    background: #A9907E;
    color: #fff;
}
.send-help-btn:hover {
    background: #8B7E74;
}
.icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-help-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #BFD8AF;
    border-radius: 50%;
    animation: popInAndZoom 1s ease-out forwards;
}
@keyframes popInAndZoom {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.check {
    font-size: 30px;
    color: #304D30;
}
.send-help-title {
    font-weight: 700;
    color: #304D30;
    padding: 20px 0px;
}
.send-help-message {
    font-size: 1.2em;
    text-align: center;
    color: #294B29;
}
/* .send-help-close {
    width: 50%;
} */
.send-help-close:hover {
    background-color: #304D30;
    color: whitesmoke;
}
.image-scan {
    text-align: center;
    /* border: 2px solid #596FB7; */
    background: whitesmoke;
    position: relative;
}

/* minor send help CSS */

.image-height{
    height: 250px;
    /* background: bisque; */
}
.display-none {
    display: none;
}
.loading-img {
    filter: brightness(70%);
}
.loading{
    width: 70px;
    position: absolute;
    top: 40%;
    left: 45%;
}
.minor-injury{
    font-weight: 700;
    color: #561C24;
}
.minor-injury-message {
    line-height: 1.5;
}

/* major send help CSS */

/* .notification-cont {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-box {
    background-color: #E1F0DA;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    color: #294B29;
    margin-bottom: 20px;

} */
.notification-cont {
    width: 50%;
    padding: 20px;
    background-color: #E1F0DA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0px 20px 380px;
    
}

.notification-box {
    padding: 20px;
    background-color: #F2FFE9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.notification-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.notification-box p {
    margin-bottom: 5px;
    font-size: 18px;
    color: #555555;
    text-align: center;
}

#notification-msg {
    color: #304D30;
    font-weight: bold;
}

#estimatedArrivalTime {
    font-weight: bold;
}