{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="home-container">
    <div class="search-container">
        <h1 class="title">Quick Cure</h1>
        <div class="search">
            <div class="search-wrapper">
                <input type="text" class="search-input" id="search-input" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <label class="form-label" for="home-image" class="image-label"><i class="fa-regular fa-image upload-icon"></i></label>
                <input type="file" name="injury-image" id="home-image" class="mb-3 file-input">
            </div>
        </div>
        <div class="search-result" id="result"></div>
    </div>

    <div class="image-scan mb-3 display-none" id="image-container">
        <img src="" alt="" id="image" class="image-height display-none">
        <img src="static/image/loading-google.gif" alt="" class="loading display-none" id="loading-image">
    </div>

    <div class="recommendation-cont">
        {% if procedures %}
            <div class="rec-title">
                <h5>Frequent Search Procedures</h5>
                {% for procedure in procedures %}
                    <div class="rec-procedure">
                        <i class="fa-solid fa-arrow-right"></i>
                        <a href="/contentPage/{{ procedure['fa_id']}}">{{ procedure['fa_title'] }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No procedures found</p>
        {% endif %}
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="minor-injury-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-center minor-injury mt-3">Your injury appears to be minor. </h5>
                <h6 class="text-center minor-injury-message">Please follow the recommended first aid procedure below for immediate relief. If the situation persists or worsens, seek medical attention.</h6>
                <button class="btn mt-2 mb-3 send-help-btn">First Aid Procedure</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="major-injury-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-center minor-injury mt-3">Emergency Alert: Major Injury Detected</h5>
                <h6 class="text-center minor-injury-message">Please use the "Send Help" feature immediately to call for ambulance assistance.</h6>
                <button onclick="window.location.href='/send_help'" class="btn mt-2 mb-3 send-help-btn">Send Help</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>


<script>
    $(document).ready(function(){
        console.log('jQuery is working!');
    });
    $(document).ready(function(){
        // load_data();
        
        function load_data(query) {
            $.ajax({
                url: "/ajaxlivesearch",
                method: "POST",
                data: { query: query },
                success: function (data) {
                    console.log(data);
                    $('#result').html(data.htmlresponse);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("AJAX Error: " + textStatus);
                    console.log("AJAX Error thrown: " + errorThrown);
                }
            });
        }

        $(document).ready(function () {

            $('#search-input').keyup(function () {
                var search = $(this).val();
                load_data(search);
            });
        });
    });
</script>
{% endblock %}