{% extends 'base.html' %}

{% block head %}
    <title>Meet Our Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='ourDoctors.css')}}" type="text/css">
    {% endblock %}

{% block body %}
    
    <div>
        <div>
            <h1 style=" margin: 0px; padding: 50px 20px 0px 20px; text-align: center">Meet Our Doctors</h1>
        </div>
    
        <div >
            <div class="our_doctors_box">
                {% for doctor in doctor_data %}
                <div class="border">

                    <div class="img_container">
                        {% if doctor['doctor_img_base64'] %}
                            <img src="data:image/jpeg;base64,{{ doctor['doctor_img_base64'] }}" alt="doctor Image">
                        {% endif %}
                    </div>

                    <a href="{{ url_for('doctorProfile', doctor_id=doctor['doctor_id']) }}">
                        <div class="doc-info-box">
                            <h5>{{ doctor['doctor_name'] }}</h5>
                            <h6>{{ doctor['doctor_position'] }}</h6>
                        </div>
                        
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}